DJANGO_SETTINGS_MODULE=config.settings.vps
DJANGO_SECRET_KEY=generate-with-python-secrets-token-urlsafe-48
DJANGO_ALLOWED_HOSTS=customsclearancepractice.com,69.10.53.250
DJANGO_CSRF_TRUSTED_ORIGINS=https://customsclearancepractice.com
